<form [formGroup]="dynamicForm">
  <div *ngIf="control?.enabled">
    <ng-container [ngSwitch]="control?.type">
      <div *ngSwitchCase="'text'">
        <input
          class="form-control"
          [type]="control?.type"
          [formControlName]="control?.name"
          [name]="control?.name"
          [placeholder]="control?.label"
          [required]="control?.validators?.required"
        />
      </div>
      <div *ngSwitchCase="'number'">
        <input
          class="form-control"
          [type]="control?.type"
          [formControlName]="control?.name"
          [name]="control?.name"
          [placeholder]="control?.label"
          [required]="control?.validators?.required"
        />
      </div>
      <div *ngSwitchCase="'email'">
        <input
          class="form-control"
          [type]="control?.type"
          [formControlName]="control?.name"
          [name]="control?.name"
          [placeholder]="control?.label"
          [required]="control?.validators?.required"
        />
      </div>
      <div *ngSwitchCase="'select'">
        <select
          id="floatingSelectInvalid"
          class="form-control"
          [formControlName]="control?.name"
          [name]="control?.name"
          [required]="control?.validators?.required"
          [ngClass]="isTitle ? 'col-md-2' : 'col'"
        >
          <option value="" disabled selected>{{ control.label }}</option>
          <option *ngFor="let country of control?.values" [value]="country">
            {{ country }}
          </option>
        </select>
      </div>
      <div *ngSwitchCase="'checkbox'">
        <div class="form-check">
          <input
            class="form-check-input"
            [type]="control?.type"
            [formControlName]="control?.name"
            [name]="control?.name"
            (change)="setCheckboxValue(control?.name, $event)"
            [required]="control?.validators?.required"
          />
          <label class="form-check-label" for="flexCheckDefault">{{ control?.label }} </label>
          <a href="/">({{ control?.dashlabel }})</a>
        </div>
      </div>
    </ng-container>
  </div>
</form>

<div *ngIf="dynamicForm.controls[control?.name]?.invalid && (dynamicForm.controls[control?.name]?.dirty || dynamicForm.controls[control?.name]?.touched)">
  <div *ngIf="dynamicForm.controls[control?.name].hasError('email') && !dynamicForm.controls[control?.name].hasError('required')">
    <label class="text-danger">{{control?.label}} is invalid.</label>
  </div>

  <div *ngIf="dynamicForm.controls[control?.name].hasError('required')">
    <label class="text-danger">{{control?.label}} is required.</label>
  </div>

  <div *ngIf="dynamicForm.controls[control?.name]?.errors?.emailMismatch">
    <label class="text-danger">{{control?.label}} emails don't match.</label>
  </div>
</div>
