<form [formGroup]="dynamicForm" style="background-color: beige;">
  <div class="row">
    <div class="form-group col-md-12 mb-0" *ngIf="isFamilyMembership">
      <label class="mb-0">First Member Name</label>
    </div>

    <div *ngFor="let control of firstColumnControls" class="form-group col-md-6">
      <app-form-control [control]="control" [dynamicForm]="dynamicForm">
      </app-form-control>
    </div>

    <div class="form-group col-md-12 mb-0" *ngIf="isFamilyMembership">
      <label class="mb-0">Second Member Name</label>
    </div>
    <div *ngFor="let control of secondColumnControls" class="form-group col-md-6">
      <app-form-control [control]="control" [dynamicForm]="dynamicForm">
      </app-form-control>
    </div>
  </div>

  <div class="row">
    <div  *ngFor="let control of checkboxesColumnControls" class="form-group col-md-6">
      <app-form-control [control]="control" [dynamicForm]="dynamicForm">
      </app-form-control>
    </div>
  </div>

  <button
    class="btn btn-primary"
    type="button"
    (click)="onSubmit()"
    [disabled]="dynamicForm.invalid"
    >Submit
  </button>
</form>

<div class="container" *ngIf="false">
  <div style="background-color: lightblue;">
    <div class="col" style="background-color: rgb(68, 189, 230);">col 1</div>
    <div class="col" style="background-color: rgb(32, 179, 84);">col 2</div>
    <div class="col" style="background-color: rgb(167, 244, 90);">col 3</div>
    <div class="col" style="background-color: rgb(236, 244, 90);">col 4</div>
  </div>
</div>
